<!DOCTYPE html>
<meta charset="utf-8" />
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"></link>

    <script type="text/javascript" src="../static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="../static/js/popper.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/loader.js"></script>
    <script type="text/javascript" src="../static/js/fixed_queue.js"></script>
    <script type="text/javascript" src="../static/js/container.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Container statistics</h1>
        </div>
      </div>
			<div class="row">
        <div class="col">
          <h3>Overview</h3>
          <div id="overall_usage_gauge"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>CPU Usage statistics</h3>
          <div id="cpu_total_usage_chart"></div>
          <div id="percpu_usage_chart"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Memory usage statistics</h3>
          <div id="memory_usage_chart"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>Network statistics</h3>
          <div id="network_bytes_chart"></div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>I/O statistics</h3>
          <div id="blkio_bytes_chart"></div>
        </div>
      </div>
    </div>
  </body>
</html>
